@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 380px){

#section {
	width: 90%;
	margin: 0px auto;
}

#logocenter {
	display: none;
}

#logocentermobile {
	display: block;
}


.plumberstock {
	display:none;
}

.plumberstockmobile {
	display: none;
}


#callbtn {
	display:none;
}

#callbtntext {
	display:none;
}

#listhidedesktop {
	display: block;
}


#listhidedesktopservices {
	display: list-item;
}

#listhidemobile {
	display: none;
}

#listhidemobile2 {
	display: none;
}

#listtablebgcolor {
	background-color: #e1e2e3;
	width: 320px;
	margin-left: -18px;
	margin-right: -22px;
	padding-left: 20px;
}


#arrow {
	display:none;
}

#tdmobile {
	display: none;
}

#graybordermobile {
	background-color:#FFF;
}

#plumbermobile {
	display: block;
	vertical-align:bottom;
}

.titlefirst {
	font-family: 'Open Sans', arial, sans-serif;
	color: #2a3b92;
	font-size: 23px;
}

.maintitle {
	font-family: 'Open Sans', arial, sans-serif;
	color: #2a3b92;
	font-size: 23px;
	font-weight:bold;
}

.maintitleorange {
	font-family: 'Open Sans', arial, sans-serif;
	color: #f78f29;
	font-size: 23px;
	font-weight:bold;
}

#callbtnmobile {
	display: block;
}

#callbtntextmobile {
	display:block;
	margin-top: -30px;
	margin-left: -50px;
	font-family: 'Open Sans', arial, sans-serif;
	color: #2a3b92;
	font-size: 18px;
	margin-bottom: 30px;
	font-weight:bolder;
	/*z-index: 3;*/
}